Bibliotecas necessárias

In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

Url do site que coletaremos os dados

In [3]:
url = "https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

Configurando agente para realizar a requisição ao site

In [4]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

Acessando página com links

In [5]:
response = requests.get(url, headers=headers)
response.raise_for_status()

In [8]:
soup = BeautifulSoup(response.text, features='html.parser')

In [11]:
base_url = "https://www.nyc.gov"
parquet_links = []

Pegando todos os links que terminando com parquet

In [ ]:
for link in soup.find_all('a', href=True):
    href = link['href']
    if href.endswith('.parquet'):
        parquet_links.append(href)

In [21]:
yellow_tripdata_links = list(filter(lambda href: 'yellow_tripdata' in href, parquet_links))

In [22]:
sample_url = yellow_tripdata_links[0]

In [23]:
sample_url

'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-04.parquet'

In [24]:
response_download = requests.get(sample_url)

In [29]:
file_Path = '../dataset/nyc-tlc/2024/test.parquet'

In [32]:
if response_download.status_code == 200:
    with open(file_Path, 'wb') as file:
        file.write(response_download.content)
    print('File downloaded successfully')
else:
    print('Failed to download file')

File downloaded successfully

In [34]:
test_parquet = pd.read_parquet(file_Path)

In [35]:
test_parquet

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-04-01 00:02:40,2024-04-01 00:30:42,0.0,5.20,1.0,N,161,7,1,29.60,3.5,0.5,8.65,0.00,1.0,43.25,2.5,0.0
1,2,2024-04-01 00:41:12,2024-04-01 00:55:29,1.0,5.60,1.0,N,264,264,1,25.40,1.0,0.5,10.00,0.00,1.0,37.90,0.0,0.0
2,2,2024-04-01 00:48:42,2024-04-01 01:05:30,1.0,3.55,1.0,N,186,236,1,20.50,1.0,0.5,5.10,0.00,1.0,30.60,2.5,0.0
3,2,2024-04-01 00:56:02,2024-04-01 01:05:09,1.0,1.06,1.0,N,137,164,2,10.00,1.0,0.5,0.00,0.00,1.0,15.00,2.5,0.0
4,1,2024-04-01 00:08:32,2024-04-01 00:10:24,1.0,0.70,1.0,N,236,263,1,5.10,3.5,0.5,2.00,0.00,1.0,12.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3514284,2,2024-04-30 23:11:14,2024-04-30 23:52:18,NaN,21.40,NaN,None,155,107,0,62.95,0.0,0.5,0.00,6.94,1.0,73.89,NaN,NaN
3514285,2,2024-04-30 23:14:54,2024-04-30 23:15:05,NaN,0.00,NaN,None,48,48,0,33.25,0.0,0.5,0.00,0.00,1.0,37.25,NaN,NaN
3514286,2,2024-04-30 23:16:22,2024-04-30 23:26:46,NaN,1.98,NaN,None,161,234,0,24.27,0.0,0.5,0.00,0.00,1.0,28.27,NaN,NaN
3514287,2,2024-04-30 23:04:10,2024-04-30 23:09:25,NaN,0.31,NaN,None,148,79,0,19.13,0.0,0.5,0.00,0.00,1.0,23.13,NaN,NaN
3514288,2,2024-04-30 23:02:52,2024-04-30 23:13:37,NaN,2.06,NaN,None,263,238,0,12.01,0.0,0.5,0.00,0.00,1.0,16.01,NaN,NaN